.sidebar {
  position: sticky;
  top: 0;
}

.advertisement {
  margin-top: 1rem;
}

.products-container {
  margin: 2rem 2.5rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.dismiss{
  right: 0%;
  left: 2%;
}

.heart-icon-main {
  color: var(--primary-color);
}

.card-container{
  width: 18rem;
}

.card-heading{
  font-weight: 600;
}

.card-author{
  font-size: 1.2rem;
  font-weight: 500;
}